$colorRed: #d91921;
$colorBlack: black;
$colorPrimary: #101010;
$textSecondary: #dadada;
$titleGradient: radial-gradient(circle, rgba(46,46,46,1) 0%, rgba(16,16,16,1) 38%, rgba(0,0,0,1) 100%);
$headerGradient: linear-gradient( rgb(0,0,0) 0%, rgb(16, 16, 16) 100%);
$heroGradient: linear-gradient( rgba(16,16,16,0) 0%, rgba(16,16,16,1) 100%,);

