@use './parcials/variable' as *;
@import 'bootstrap/scss/bootstrap';

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

//GENERAL
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: white;
}
body{
    background-color: $colorPrimary;
}
img{
    width: 100%;
}
select{
    cursor: pointer;
    color: $colorBlack;
    >*{
        color: $colorBlack;
    }
}
button{
    border: none;
}
i.fa-star{
    color:#c6d408;
}
.bold{
    font-weight: bold;
}
//UTILITYS
.debug{
    border: 1px solid white;
}
.text-black{
    color: $colorBlack;
}
.my-card{
    // background-color: $colorBlack;
    height: 450px;
    border-radius: 30px;
    overflow: hidden;
    margin: 20px auto ;

    position: relative;
    box-shadow: none;
    >*{
        transition: all 0.8s ease;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;
    }

    .front-side{
        width: 100%;
        img{
            object-fit: cover;
            height: 450px;
            width: 100%;
        }
    }
    .back-side{
        width: 100%;
        padding: 20px;
        height: 100%;
        overflow-y: auto;
        background-color: $colorRed;
    
        transform: rotateY(-180deg);
    }

}
.my-card:hover .front-side{
    transform: rotateY(180deg);
}
.my-card:hover .back-side{
    transform: rotateY(0deg);
}
.flag{
    width: 30px;
    height: auto;
    margin-left: 5px;
}
.my-btn{
    background-color: $colorRed;
    color: white;
}
//STRUCTURE
.wrapper{
    height: 100vh;
    overflow: hidden;
}
.enter-page,
.loading-page{
    background: $titleGradient;
}
.loading-icon{
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    i{
        color: $colorRed;
    }
}
.img-title{
    width: 60%;
    margin: 50vh auto 0;
    transform: translate(0,-50%);
}
header{
    height: 90px;
    background: $headerGradient;
    h1{
        color: $colorRed;
        cursor: pointer;
    }
}
main{
    height: 100%;
    background-color: $colorPrimary;
}
.hero{
    font-weight: bold;
    height: calc(100vh - 90px);
    width: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    .hero-content{
        position: absolute;
        top: 50%;
        left: 100px;
        transform: translate(0,-50%);
        width: 30%;
        min-width: 400px;
        .logo{
            width: 20px;
        }
        .my-text-secondary{
            font-size: 1.5em;
            vertical-align: middle;
            color: $textSecondary;
        }
        .logo-container{
            background-color: rgba(0,0,0,0.3);
            width: 120px;
            height: 60px;
            margin: 0 20px 20px;
            text-align: center;
            line-height: 60px;
        }
        .titleHero{
            display: inline-block;
            border: 5px solid $colorRed;
            padding: 10px 40px;
            position: relative;
            border: solid 2px $colorRed;
            background-color: rgba(0,0,0,0.15);
            z-index: 2;
            .horizontal-border{
                width: calc(100% - 20px);
                height: calc(100% + 20px);
                position: absolute;
                top: -10px;
                left: 10px;
                border: solid 2px $colorRed;
                background-color: rgba(0,0,0,0.15);
            }
        }
        p{
            background-color: rgba(0,0,0,0.3);
        }
        .my-btn{
            padding: 5px 60px;
            margin-left: 20px;
            border-radius: 5px;
        }
        .my-btn.info-btn{
            background-color: $colorBlack;
        }
    }
}
.hero:after {
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: $heroGradient
}
.hero:before {
    content: "";
    width: 100%;
    height: 100px;
    position: absolute;
    top: -1px;
    right: 0;
    background: $heroGradient;
    transform: rotate(180deg);
}

// RESPONSIVE
@media screen and (max-width:576px) {
    header{
        h1{
            font-size: 1.5em;
        }
        input,select{
            width: 100px;
        }
    }
    .hero .hero-content{
        left: 0;
    }
}