@use './parcials/variable' as *;
@import 'bootstrap/scss/bootstrap';

$fa-font-path: '../webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

//GENERAL
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    color: white;
}
body{
    background-color: $colorPrimary;
}
img{
    width: 100%;
}
select{
    color: $colorBlack;
    >*{
        color: $colorBlack;
    }
}
//UTILITYS
.debug{
    border: 1px solid white;
}
.text-black{
    color: $colorBlack;
}
.my-card{
    background-color: $colorRed;
    height: 450px;
    img{
        object-fit: cover;
        height: 450px;
        width: 100%;
    }
    .flag{
        width: 30px;
        height: auto;
    }
    i{
        color:#c6d408;
    }
}
.my-btn{
    background-color: $colorRed;
    color: white;
}
//STRUCTURE
.wrapper{
    height: 100vh;
    overflow: hidden;
}
.enter-page,
.loading-page{
    background: $gradient;
}
.loading-icon{
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    i{
        color: $colorRed;
    }
}
.img-title{
    width: 60%;
    margin: 50vh auto 0;
    transform: translate(0,-50%);
}
header{
    background-color: $colorBlack;
    h1{
        color: $colorRed;
    }
}
main{
    height: 100%;
    background-color: $colorPrimary;
}